<!DOCTYPE html>
<!-- 缴费操作 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>缴费</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/login.css" media="all"/>
</head>
<body>

<form class="layui-form" style="padding: 20px;" action="" lay-filter="costInfo">
    <div class="layui-form-item">
        <label class="layui-form-label">缴费类型</label>
        <div class="layui-input-inline">
            <select id="select" name="costType" lay-filter="costType">
                <option value="">请选择收费类型</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">费用</label>
        <div class="layui-input-inline">
            <input type="text" name="money" lay-verify="required|number" class="layui-input"/>
        </div>
    </div>
    <!-- 隐藏字段 楼房号 -->
    <input type="hidden" name="buildingNumber" id="buildingNumber"/>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="costInfo">确认提交</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    var laythis = layui.use(['form','layer','jquery'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.$;
        var index = parent.layer.getFrameIndex(window.name);
        //监听提交
        form.on('submit(costInfo)', function(data){
            //获取要提交的数据
            /*layer.alert(JSON.stringify(data.field), {
            });*/
            var field = data.field;
            $.ajax({
                type:"POST"
                ,url:'/paymentInfo/insertPaymentInfo'
                ,data: JSON.stringify(field) //提交的数据，并转成json格式
                ,contentType:"application/json"
                ,dataType: "json"//返回的数据类型格式
                ,success:function (map) {
                    if (map.success){
                        //向父页面传值
                        parent.layer.msg(map.msg,{icon:1,time: 1000});
                        //关闭
                        parent.layer.close(index);
                    }else {
                        //向父页面传值
                        parent.layer.msg(map.msg,{icon:5,time: 1000});
                    }
                }
            });
            return false;
        });
        //赋值
        $.ajax({
            url: '/cost/selectCostType'
            , contentType: "application/json"
            , dataType: "json"//返回的数据类型格式
            , success: function (map) {
                if (map.success) {
                    var data = map.data;
                    var length = data.length;
                    //给下拉列表动态赋值
                    for (var i = 0;i < length; i++){
                        $("#select").append('<option value="' +data[i].id+'">' + data[i].costType +'</option>');
                    }
                    form.render('select');
                } else {
                    layer.msg(map.msg, {icon: 5});
                }
            }
        });
    });
    //获取操作对象的楼房号
    function costInfo(obj) {
        var data = obj;
        laythis.$.ajax({
            type:"post"
            ,url:'/building/selectBuildInfo'
            ,contentType:"application/json"
            ,data: JSON.stringify(data) //提交的数据，并转成json格式
            ,dataType: "json"//返回的数据类型格式
            ,success:function(map){
                if (map.success){
                    var data = map.data;
                    /*console.log(data);*/
                    //给表单赋值
                    laythis.form.val("costInfo", {
                        "buildingNumber": data.buildingNumber // "name": "value"
                    });
                }else {
                    layer.msg(map.msg,{icon:5});
                }
            }
        });
    }
</script>

</body>
</html>