<!DOCTYPE html>
<!-- 家人信息的添加页面 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>添加家人信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/login.css" media="all"/>
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加家人信息</legend>
</fieldset>

<form class="layui-form" action="" lay-filter="addFamilyInfo" style="white-space:nowrap;">

    <div class="layui-form-item">
        <label class="layui-form-label">楼房号</label>
        <div class="layui-input-inline">
            <select id="select" name="buildingNumber" lay-filter="buildingNumber">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">业主身份证号</label>
        <div class="layui-input-inline">
            <input type="text" name="ownerCard" readonly="readonly" lay-verify="required|identity" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">家人姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="familyName" lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">家人性别</label>
        <div class="layui-input-block">
            <input type="radio" name="familySex" value="男" title="男">
            <input type="radio" name="familySex" value="女" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">家人电话号码</label>
        <div class="layui-input-inline">
            <input type="text" name="familyPhone" lay-verify="required|phone" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">家人身份证号</label>
        <div class="layui-input-inline">
            <input type="text" name="familyCard" lay-verify="required|identity" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="addFamilyInfo">确认修改</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    layui.use(['form','layer','jquery'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var $ = layui.$;
        var index = parent.layer.getFrameIndex(window.name);
        //监听提交
        form.on('submit(addFamilyInfo)', function(data){
            //获取要提交的数据
            /*layer.alert(JSON.stringify(data.field), {
            });*/
            var field = data.field;
            $.ajax({
                type:"POST"
                ,url:'/family/addFamilyList'
                ,data: JSON.stringify(field) //提交的数据，并转成json格式
                ,contentType:"application/json"
                ,dataType: "json"//返回的数据类型格式
                ,success:function (map) {
                    if (map.success){
                        //向父页面传值
                        parent.layer.msg(map.msg,{icon:1,time: 1000});
                        //关闭
                        parent.layer.close(index);
                    }else {
                        //向父页面传值
                        parent.layer.msg(map.msg,{icon:5,time: 1000});
                    }
                }
            });
            return false;
        });
        //验证用户身份证号
        form.verify({
            identity:[/(^$)|(^\d{15}$)|(^\d{17}(x|X|\d)$)/,'请输入正确的身份证号']
        });
        //赋值
        $.ajax({
            url: '/building/selectBuildNumber'
            , contentType: "application/json"
            , dataType: "json"//返回的数据类型格式
            , success: function (map) {
                if (map.success) {
                    var data = map.data;
                    var length = data.length;
                    //给下拉列表动态赋值
                    for (var i = 0;i < length; i++){
                        $("#select").append('<option value="' +data[i].id+'">' + data[i].buildingNumber +'</option>');
                    }
                    form.render('select');
                } else {
                    layer.msg(map.msg, {icon: 5});
                }
            }
        });
        //监听下拉选择框  自动赋值 业主身份证号码
        form.on('select(buildingNumber)', function(data){
            $.ajax({
                url:'/building/selectByIdBuildInfo?buildingId=' + data.value
                , contentType: "application/json"
                , dataType: "json"//返回的数据类型格式
                , success: function (map) {
                if (map.success) {
                    var data = map.data;
                    form.val("addFamilyInfo",{
                        "ownerCard":data.userCard
                    });
                } else {
                    layer.msg(map.msg, {icon: 5});
                }
                }
            });
            /*console.log(data.value); //得到被选中的值*/
        });
    });
</script>

</body>
</html>