<!DOCTYPE html>
<html lang="en">
<!-- 后端家人信息表 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>家人信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/login.css" media="all"/>
</head>

<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>家人信息</legend>
</fieldset>

<div class="demoTable layui-form" style="padding: 20px;">
    <table class="layui-hide" id="familyInfo" lay-filter="familyInfo"></table>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    //获取父页面传过来的参数 并查询数据
    function familyInfo(userCard){
        var userCard = userCard;
        layui.use(['table','form','layer','jquery'], function(){
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;
            var $ = layui.$;
            table.render({
                elem: '#familyInfo'
                ,url: '/family/selectFamilyInfo?userCard=' + userCard //数据接口
                ,even: true //开启隔行背景
                ,page: true //开启分页
                ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cols: [
                    [
                        {field:'number', title: '编号',type:'numbers',width: 60, align: 'center'}
                        ,{field:'buildingNumber', title: '楼房号',width: 90,align: 'center'}
                        ,{field:'familyName', title: '家人姓名',width: 90,align: 'center'}
                        ,{field:'familySex', title: '性别',width: 90,align: 'center'}
                        ,{field:'familyPhone', title: '电话号码',width: 150,align: 'center'}
                        ,{field:'familyCard', title: '身份证号',align: 'center'}
                    ]
                ]
            });

        });
    }
</script>

</body>
</html>