<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 前端业主界面 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>业主界面</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/app.css" media="all">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">社区物业管理系统版权所有</div>
        <ul class="layui-nav layui-layout-right kit-nav">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img class="layui-nav-img" th:src="${(session.userInformation.avatar != null && !#strings.isEmpty(session.userInformation.avatar)) ? '/upload/'+session.userInformation.avatar : '/images/face.jpg'}"/>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" id="info">基本资料</a></dd>
                    <dd><a href="/">注销</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javaScript:;" id="shouye"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black kit-side">
        <div class="layui-side-scroll">
            <!--<div class="kit-side-fold"><i class="layui-icon" aria-hidden="true">&#xe603;</i></div>-->
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>
                <li class="layui-nav-item">
                    <a href="javascript:;"><span>公告列表</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/notice/noticeInfo',icon:'&#xe770;',title:'公告',id:'2'}">
                                <i class="layui-icon">&#xe770;</i><span>公告</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><span>房屋系统</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/userBuildingList',icon:'&#xe60a;',title:'房屋信息',id:'3'}">
                                <i class="layui-icon">&#xe60a;</i><span>房屋信息</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><span>家人管理</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/ownerFamilyList',icon:'&#xe770;',title:'家人信息',id:'4'}">
                                <i class="layui-icon">&#xe770;</i><span>家人信息</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><span>缴费系统</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/userPaymentList',icon:'&#xe663;',title:'缴费管理',id:'5'}">
                                <i class="layui-icon">&#xe663;</i><span>缴费管理</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><span>维修系统</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/userRepairList',icon:'&#xe653;',title:'维修管理',id:'6'}">
                                <i class="layui-icon">&#xe653;</i><span>维修管理</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><span>我的设置</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/user/userInforMation',icon:'&#xe770;',title:'修改信息',id:'7'}">
                                <i class="layui-icon">&#xe770;</i><span>修改信息</span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" kit-target data-options="{url:'/ChangePassword',icon:'&#xe673;',title:'修改密码',id:'8'}">
                                <i class="layui-icon">&#xe673;</i><span>修改密码</span></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body layui-bg-gray" id="container">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">主体内容加载中,请稍等...</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        2020 &copy;
        <a href="">技术支持单位：社区物业管理系统</a>

    </div>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    var message;
    layui.config({
        base: './js/'
    }).use(['app', 'message','tab','jquery'], function() {
        var app = layui.app,
            $ = layui.jquery,
            tab = layui.tab,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#info').on('click',function () {
            tab.tabAdd({
                icon: "",
                id: "7",
                title: "修改信息",
                url: "/user/userInforMation"
            });
        });
    });
</script>
</body>

</html>
