<!DOCTYPE html>
<html lang="en">
<!-- 后端业主页面 -->
<head>
    <meta charset="UTF-8">
    <title>业主列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/login.css" media="all"/>
</head>
<body>

<!-- 搜索和整体框架布局 -->
<div class="demoTable layui-form" style="padding: 20px;">
    搜索业主信息：
    <div class="layui-inline">
        <input class="layui-input" placeholder="输入业主身份证号" lay-verify="identity" id="ownerCard" autocomplete="off">
    </div>
    <button class="layui-btn icon-btn" lay-submit="" data-type="reload" id="ownerSearch">搜索</button>
    <table class="layui-hide" id="ownerList" lay-filter="ownerList"></table>
</div>
<!--头部工具按钮-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">
            <i class="layui-icon">&#xe608;</i> 添&emsp;加
        </button>
    </div>
</script>
<!--行工具按钮-->
<script type="text/html" id="operate">
    <a lay-event="building" class="layui-btn layui-btn-xs">房屋信息</a>
    <a lay-event="family" class="layui-btn layui-btn-xs">家人信息</a>
    <a lay-event="cost" class="layui-btn layui-btn-xs">缴费信息</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
</script>

<script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['table', 'layer', 'form','jquery'], function(){
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        table.render({
            elem: '#ownerList'
            ,url: '/user/ownerList' //数据接口
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,even: true //开启隔行背景
            ,page: true //开启分页
            ,cols: [
                [
                    {field:'number', title: '编号',type:'numbers',width: 60, align: 'center'}
                    ,{field:'userName', title: '用户名',width: 100,align: 'center'}
                    ,{field:'sex', title: '性别',width: 100,align: 'center'}
                    ,{field:'userPhone', title: '电话',width: 200,align: 'center'}
                    ,{field:'userCard', title: '身份证号',width: 300,align: 'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#operate',align: 'center'}
                ]
            ]
            ,id:'ownerReload'
        });
        //监听行工具事件
        table.on('tool(ownerList)', function(obj){
            var data = obj.data;//获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            //console.log(obj)
            switch (layEvent) {
                case 'del':
                    layer.confirm('真的删除这行吗？', function(index){
                        //向服务端发送删除指令
                        $.ajax({
                            url:'/user/deleteUser?id=' + data.id,
                            contentType:"application/json",
                            dataType: "json",//返回的数据类型格式
                            success:function(map){
                                if (map.code){
                                    layer.close(index);
                                    layer.msg(map.msg,{icon:1,time: 1000});
                                    table.reload('ownerReload', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                }else {
                                    layer.msg(map.msg,{icon:5,time: 1000});
                                }
                            }
                        });
                    });
                    break;
                case 'edit':
                    layer.open({
                        type: 2,
                        title: '编辑页面',
                        fixed: false, //不固定
                        area: ['65%', '80%'],
                        skin: 'layui-layer-rim',//加上边框
                        maxmin: true,//开启最大化最小化按钮
                        shadeClose: true,//点击阴影处可关闭
                        shade: 0.3,//背景灰度
                        content:'editOperation',//打开的弹出层名字
                        success:function (layero,index) {
                            // 向子页面传递参数
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            iframeWin.editOperation(data.id);
                        },
                        end:function () {
                            table.reload('ownerReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                    });
                    break;
                case 'building':
                    layer.open({
                        type: 2,
                        title: '房屋信息',
                        fixed: false, //不固定
                        area: ['65%', '80%'],
                        skin: 'layui-layer-rim',//加上边框
                        maxmin: true,//开启最大化最小化按钮
                        shadeClose: true,//点击阴影处可关闭
                        shade: 0.3,//背景灰度
                        content:'buildInfo',//打开的弹出层名字
                        success:function (layero,index) {
                            // 向子页面传递参数
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            //传递用户的身份证号去查找用户的房屋信息进行显示
                            iframeWin.buildInfo(data.userCard);
                        },
                        end:function () {
                            table.reload('ownerReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                    });
                    break;
                case 'cost':
                    layer.open({
                        type: 2,
                        title: '房屋信息',
                        fixed: false, //不固定
                        area: ['65%', '80%'],
                        skin: 'layui-layer-rim',//加上边框
                        maxmin: true,//开启最大化最小化按钮
                        shadeClose: true,//点击阴影处可关闭
                        shade: 0.3,//背景灰度
                        content:'buildInfo',//打开的弹出层名字
                        success:function (layero,index) {
                            // 向子页面传递参数
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            //传递用户的身份证号去查找用户的房屋信息进行显示
                            iframeWin.buildInfo(data.userCard);
                        },
                        end:function () {
                            table.reload('ownerReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                    });
                    break;
                case 'family':
                    layer.open({
                        type: 2,
                        title: '家人信息',
                        fixed: false, //不固定
                        area: ['65%', '80%'],
                        skin: 'layui-layer-rim',//加上边框
                        maxmin: true,//开启最大化最小化按钮
                        shadeClose: true,//点击阴影处可关闭
                        shade: 0.3,//背景灰度
                        content:'familyInfo',//打开的弹出层名字
                        success:function (layero,index) {
                            // 向子页面传递参数
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            //传递用户的身份证号去查找用户的房屋信息进行显示
                            iframeWin.familyInfo(data.userCard);
                        },
                        end:function () {
                            table.reload('ownerReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                    });
                    break;
            }
        });
        // 监听头部工具栏
        table.on('toolbar(ownerList)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        title: '添加页面',
                        fixed: false, //不固定
                        area: ['65%', '80%'],
                        skin: 'layui-layer-rim',//加上边框
                        maxmin: true,//开启最大化最小化按钮
                        shadeClose: true,//点击阴影处可关闭
                        shade: 0.3,//背景灰度
                        content:'addOperation',//打开的弹出层名字
                        success:function (layero,index) {
                            // 向子页面传递参数 权限值1
                            var iframeWin = window[layero.find('iframe')[0]['name']];
                            iframeWin.addOperation(1);
                        },
                        end:function () {
                            table.reload('ownerReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                    });
                    break;
            }
        });
        //数据表格的重载
        var $ = layui.$, active = {
            reload: function(){
                var ownerCard = $('#ownerCard');
                //执行重载
                table.reload('ownerReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    //根据条件进行查询
                    ,where: {
                        ownerCard: ownerCard.val()
                    }
                });
            }
        };
        //点击搜索按钮根据公告标题进行模糊查询
        $('#ownerSearch').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //验证用户身份证号
        form.verify({
            identity:[/(^$)|(^\d{15}$)|(^\d{17}(x|X|\d)$)/,'请输入正确的身份证号']
        });
    });

</script>

</body>
</html>